.card-bottom-border {
  margin: 30px auto;
  padding: 20px;
  height: auto;
  background-color: $clr2;
  border-bottom: 2px solid $clr4;

  .card-title {
    font-weight: 900;
    font-size: 2em;
    margin: 0.25em 0;
    color: $clr4;
  }
}

.card-border {
  height: auto;
  background-color: $clr2;
  border: 1px solid $clr4;

  .card-title {
    font-weight: 900;
    font-size: 2em;
    margin: 0.25em 0;
    color: $clr4;
  }
}

.card-bkg-white {
  background: linear-gradient(to bottom, $bkg1, $bkg2, $bkg3);
}

.card-bkg-yellow {
  background: linear-gradient(to bottom, $bkg4, $bkg5), linear-gradient(to top, $bkg1, $bkg2, $bkg3);
}

.card-simple {
  padding: 20px;
  height: auto;

  .card-title {
    font-weight: 900;
    font-size: 2em;
    margin: 0.25em 0;
    color: $clr4;
  }
}

.card-container-lg {
  position: absolute;
  overflow: none;
  height: auto;
  width: 400px;
  z-index: 300;
  // transform: translate(0%, 0%);
  background-color: $clr2;
  background-clip: content-box;
  border-style: solid;
  padding: 0.3rem 0.3rem;

  &:before {
    border-color: $clr2;
  }

  &:after {
    border-color: $clr2;
  }
}

.card-background-lg {
  width: 93%;
  height: 80%;
  background-color: $clr2;
  overflow: none;
  border-radius: 2px;
  margin: 10px 0px;
  padding: 10px 10px;
}

.card-container-horizontal {
  border-width: 0 2px 0 2px;
  border-left-color: $clr2;
  border-right-color: $clr2;
}
