.hero-outer-container {
  padding-top: 130px;
  padding-bottom: 265px;

  background-image: url('../../img/layout/bg-pattern-home-1.svg'), url('../../img/layout/bg-pattern-home-2.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: top rem(135px) left rem(-100px), bottom rem(0px) right rem(165px);

  & * span {
    color: $primary2;
  }

  .text-wrapper {
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 100%;
      width: 50px;
      height: 4px;
      background-color: $secondary1;
    }

    & p {
      text-align: justify;
    }
  }
}

.whatWeDo-outer-container {
  background-color: $secondary4;
  padding-top: 200px;
  padding-bottom: 140px;

  background-image: url('../../img/layout/bg-pattern-home-3.svg');
  background-repeat: no-repeat;
  background-position: bottom rem(0px) right rem(-100px);

  .text-wrapper {
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -15%;
      width: 50px;
      height: 4px;
      background-color: $primary2;
    }
  }

  & * li {
    display: flex;
    margin-bottom: 35px;

    & .list-icon {
      flex: 15%;
      & img {
        width: 72px;
        height: auto;
      }
    }

    & .list-content {
      flex: 80%;
      & h3 {
        padding-bottom: 16px;
        color: $primary2;
      }
    }
  }
}

.testimonials-outer-container {
  background-color: $secondary3;
  padding-top: 150px;
  padding-bottom: 150px;

  background-image: url('../../img/layout/bg-pattern-home-4-about-3.svg'), url('../../img/layout/bg-pattern-home-5.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: top rem(0px) left rem(0px), bottom rem(0px) right rem(0px);

  & h2 {
    margin-bottom: 100px;
    text-align: center;

    & span {
      color: $secondary1;
    }
  }

  & ul > li {
    margin-right: 30px;
    text-align: center;

    & > div:nth-child(1) {
      margin-bottom: 30px;

      & p {
        z-index: 2;
        position: relative;
      }
    }
    & > div:nth-child(1)::before {
      height: 70px;
      width: 70px;
      content: '';
      position: absolute;
      background-image: url('../../img/layout/icon-quotes.svg');
      background-repeat: no-repeat;
      transform: translate(-50%, -50%);
    }
    & > div:nth-child(2) {
      color: $secondary1;
    }
    & > div:nth-child(3) {
      margin-bottom: 30px;
      font-size: rem(13px);
    }

    & img {
      width: 62px;
      border-radius: 50%;
      border: 1px solid $secondary6;
    }
  }
}

.outer-contact-us-container {
  background-color: $primary2;
  padding-top: 75px;
  padding-bottom: 75px;

  background-image: url('../../img/layout/bg-pattern-home-6-about-5.svg');
  background-repeat: no-repeat;
  background-position: bottom rem(0px) left rem(0px);

  & h2 {
    color: $secondary4;
  }
}
