.main-header-container {
  margin-top: 73px;

  .site-logo {
    width: 160px;
    height: 40px;
  }

  .main-nav {
    margin-left: 60px;
    & > ul > li:not(:first-child) {
      margin-left: 20px;
    }

    & > ul > li > a {
      padding: 10px 20px;
      font-family: $baseFontFamilyBold;
      color: $primary3;
      transition: color 0.3s ease;
      cursor: pointer;
    }

    & > ul > li > a:hover {
      color: $primary2;
    }
  }
}
