@font-face {
  font-family: livvic;
  src: url(../../fonts/Livvic/Livvic-Regular.ttf);
}

@font-face {
  font-family: livvic-semi-bold;
  src: url(../../fonts/Livvic/Livvic-SemiBold.ttf);
}

@font-face {
  font-family: livvic-bold;
  src: url(../../fonts/Livvic/Livvic-Bold.ttf);
}
